body {
    background-color: #222831;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.logo {
    margin-bottom: 80px;
}

form {
    background-color: rgba(255, 255, 255, 0.205);
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}